@model Ambrosia.Mvc.Areas.Admin.Models.UserViewModel
<ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i>@Model.User.UserName</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="ChangeDetails">Profil Düzenle</a></li>
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="PasswordChange">Şifre Değiştir </a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Logout">Çıkış Yap</a></li>
        </ul>
    </li>
</ul>