.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Kapsayıcı öğenin yüksekliğini tam ekran yapar */
}
.modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Modalın yüksekliğini tam ekran yapar */
}
