
.col-lg-12 {
    box-shadow: 0 4px 48px #ffc107;
    padding: 0.5rem;
    border-radius: 1rem;
}



.display-1 {
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    color: #000;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    padding:0.5rem;
    border-radius:1rem;
    color: #000;
    background-color: #fff;
}

.text-warning {
    color: #ffc107;
    text-decoration: none;
    font-size: 1.10rem;
    line-height: 1.8;
}

    .text-warning:hover {
        color: #e0a800;
        text-decoration: underline;
    }

.fas.fa-arrow-left {
    margin-right: 0.5rem;
}
.title {
    font-size: 3.5rem;
    font-family: "Lobster", cursive;
    background-color: #000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.wrapper {
    animation: scroll 100s linear infinite;
    background: url(../../images/error-bg-animation.jpg) repeat;
    color: #000;
    height: 100vh;
    min-width: 360px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
}

@keyframes scroll {
    100% {
        background-position: 100% 0;
    }
}

@media (prefers-reduced-motion) {
    .wrapper {
        animation: scroll 800s linear infinite;
    }
}

@media (min-width: 670px) {
    .title {
        font-size: 6rem;
    }
}
